.repo-bg-container {
  min-height: 100vh;
  background-color: #0f172a;
  padding: 10px;
}

.repo-main-heading {
  color: #f8fafc;
  font-size: 32px;
  font-weight: 700;
}

.repos-list-item {
  list-style-type: none;
  /* background: rgba(255, 255, 255, 0.06);
   */
  background-color: #ffffff0f;

  height: 200px;
  border-radius: 8px;
  margin-left: 50px;
  width: 1140px;
  padding: 10px;
  margin-bottom: 20px;
}

.repo-heading {
  color: #3b82f6;
  font-size: 24px;
  line-height: 32px;
  /* padding: 20px; */
}

.repo-description {
  color: #f8fafc;
}

.language-name {
  font-weight: bold;
  width: 60px;
}

.language-container {
  width: 90px;
  border-radius: 10px;
}

.languages-list {
  display: flex;
  flex-direction: row;
}
